<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>About Me, Jessica Zanewich</h1>
    <p> Here is some stuff i will fill out about me</p>
  </div>
</div>
